$height: 30px;
$padding: 10px;

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: $height;

  padding: $padding;

  border-radius: 10px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: 20px;

  .pack_title {
    color: #ffffff;
    font-size: 30px;

    // font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

    padding-left: 125px;
  }

  .sort_arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    button {
      appearance: none;
      border: none;
      background-color: transparent;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 45%;

      .arrow {
        color: #ffffff;
        font-size: 30px;
      }

      &:hover {
        cursor: pointer;

        .arrow {
          color: #ffffff7a;
        }
      }
    }
  }
}

$animation_duration: .25s;

.animate_up {
  animation: animation_up $animation_duration ease-out;
}

.animate_down {
  animation: animation_down $animation_duration ease-out;
}

@keyframes animation_up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(- calc($height + (2 * $padding) + 10px));
    // last 10px is the margin, defined higher up in the parent div's gap property
  }
}

@keyframes animation_down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc($height + (2 * $padding) + 10px));
    // last 10px is the margin, defined higher up in the parent div's gap property
  }
}
