@import "../../colors";

.main {
  appearance: none;
  border: none;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 60px;

  border-radius: 50px;

  transition: all .1s;

  p {
    font-size: 25px;
    color: $main_blue;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(.98);
  }
}
