.main {
  appearance: none;
  border: none;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 70px;

  border-radius: 50px;

  transition: all .1s;

  p {
    font-size: 25px;
    color: rgb(35, 116, 119);
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(.98);
  }
}
